<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Shop</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="/css/products.css" >
    </head>
    <body>
        <header>
            <nav class="nav-header">
                
                    <div class="shop-link-container"><a class="shop-link" href="/">Shop</a></div>
                    <div class="add-link-container"><a class="add-link" href="/admin/add-product">add product</a></div>
                
            </nav>
        </header>

        <form class="add-product-form" action="/admin/add-product" method="POST">
            <div class="form-header"><p>Add a Product!</p></div>
            <input name="title" class="user-input" type="text" placeholder="product name" >
            <button type="submit" class="add-product-btn" >Add Product</button>
        </form>
        
    </body>
</html>
