<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Shop</title>
        

       
           
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
           
        <link rel="stylesheet" href="/css/main.css" >
    </head>
    <body>
        <header>
            <nav class="nav-header">
                
                    <div class="shop-link-container"><a class="shop-link" href="/">Shop</a></div>
                    <div class="add-link-container"><a class="add-link" href="/admin/add-product">add product</a></div>
                
            </nav>
        </header>
        <div class="item-header"><h1>My products</h1></div>
        <div class="items_container">

            
            <div class="single-item-container"> 
                <h3 class="item-title">book</h3>
                    <img class="item-img" src="/images/book.png"/>

                    <p class="item-price">33.99 $</p>
                    <p class="item-disc">nice book to read goes about the world war 2</p>
                    
                <button class="add-item-btn">add item</button>
            </div>
            <div class="single-item-container"> 
                <h3 class="item-title">book</h3>
                    <img class="item-img" src="/images/book.png"/>

                    <p class="item-price">33.99 $</p>
                    <p class="item-disc">nice book to read goes about the world war 2</p>
                    
                <button class="add-item-btn">add item</button>
            </div>
          


        </div>
    </body>
</html>


<!--   //*
          //  Bright Green: #beef00

           // Electric Red: #ff0028

          //  Deep Green: #657a00

           // Power Blue: #1400c6-->
