*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   font-family: 'Special Elite', cursive;
}
body{
    background-color: #ffc3a02c;
    height: 100vh;
    width: 100%;
 }

header{
    width: 100%;
    height: 60px;
    background-color: #beef00;
}
.not-found{
    width: 50%;
    margin: auto;
    text-align: center;
}
.nav-header{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.nav-header div{
    width: 170px;
    height:  50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}
.nav-header div a{
 text-decoration: none;
 color: black;
 letter-spacing: 0.1rem;
 width: 100%;
 
 text-align: center;
}


.cartCounter{

    font-size: 30px;
    
}
.active{
    border-bottom: black 2px solid;
}

.nav-header div:hover{
    
    background-color: #FFA068;
    
    
}
.nav-header div:hover a{
    color:#1400c6;
}

.shop-empty-container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.add-new-product{
    width: 150px;
    height: 30px;
    border: black 1px solid;
    color: black;
    cursor: pointer;
    background-color: #beef00;
    font-weight: bolder;
    font-size: 15px;
    text-decoration: none;
    letter-spacing: 0.05rem;
    border-radius: 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s linear;
}

.add-new-product:hover{
    background-color: #fa9459;

}

.items_container {

    width: 80%;
    min-height: 600px;
    
    margin: auto ;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    margin-top: 20px;
    align-items: center;
}

.item-header{
    margin: auto;
    margin-top: 25px;
    width: 100%;
    text-align: center;
    
}

.single-item-container{
    width: 250px;
    min-height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 13px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px 10px;

}

.item-title{
    display: inline-block;
    width: 100%;
    height: 35px;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 10px 10px 0px 0px;
    background-color: #beef00;
    text-align: center;
    padding-top: 10px;
}

.item-img{
    width: 90%;
    min-height: 80%;
}

.item-price {
   
    text-align: center;
    max-width: 100%;
    word-wrap: break-word;
    font-weight: bolder;
    margin-top: 10px;
}

.item-disc {
    display: inline-block;
    text-align: center;
    max-width: 90%;
    height: 20%;
    word-wrap: break-word;
    font-size: 15px;
    line-height: 18px;
    margin-top: 5px;
    
}

.buttons-container{
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
}

.edit-item-btn{

    
    border: black 1px solid;
    cursor: pointer;
    background-color: #beef00;
    width: 60%;
    height: 30px;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
    letter-spacing: 0.02rem;
    border-radius: 5px 5px;
}
.edit-item-btn:hover{
    background-color: #FFA068;
    transition: all 0.3s ease-in-out;
}
.delete-item-btn{
    
    border: black 1px solid;
    cursor: pointer;
    background-color: #FFA068;
    width: 30%;
    border-radius: 5px 5px;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
    letter-spacing: 0.02rem;
 

}

.add-item-btn{

    width: 60%;
    height: 30px;
    border: black 1px solid;
    cursor: pointer;
    background-color: #beef00;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 0.02rem;
    margin-bottom: 3px;
    border-radius: 5px 5px;
    
}


.add-item-btn:hover{
    background-color: #FFA068;
    transition: all 0.3s ease-in-out;
}

.show-details-btn-container   {
    background-color: rgba(128, 128, 128, 0.24);
    height: 25px;
    width: 44%;
    cursor: pointer;
    margin-bottom: 11px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    border-radius: 5px 5px;
    color: black;
    text-decoration: none;
    margin-top: 5px;
  

}

.back-btn{
    width: 44%;
    height: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    font-size: 15px;
    font-weight: bolder;
    letter-spacing: 0.02rem;
    margin-bottom: 3px;
    border-radius: 5px 5px;
}
.back-btn a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: bolder;
}
.back-btn a:hover{
    background-color: rgba(128, 128, 128, 0.336);
}
.show-details-btn-container:hover{
    background-color: #beef00;
}
.header-no-items{
    letter-spacing: 0.02rem;
    font-size: 22px;
    text-align: center;
    margin-top: 50px;
}

.hidden {
    display: none;
}

.show-deatils-btn{
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-weight: bolder;
    color: black;
    padding-top: 4px;
    
}

/* product details page*/

.single-item-container-details {

    width: 350px;
    min-height: 580px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px 10px;
}

.add-item-btn-details{

    width: 60%;
    height: 30px;
    border: black 1px solid;
    cursor: pointer;
    background-color: #beef00;
    font-weight: bolder;
    font-size: 15px;
    border-radius: 5px 5px;
    letter-spacing: 0.02rem;
    
}

/*cart page*/
.add-to-cart-from{
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 5px 0px;
    gap: 4px;
}


/* admin edit page*/

.delete-btn{

    
    
    width: 100%;
    height: 30px;
    background-color: #FFA068;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: black;
    padding-left: 2px;
    border-radius: 5px 5px;
}

.delete-btn:hover{
    background-color:rgba(226, 14, 14, 0.753);
    transition: all 0.3s ease-in-out;
}

.edit-product-from{
    width: 60%;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-top: 30px;

}

.delete-product-from{
    margin-top: 30px;
    width: 40%;
    height: 40px;
   
}
.edit-product-btn{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/*styling Cart page*/

.cart-container{

   
    width: 50%;
  
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px 10px ;
    margin: auto ;
    margin-top: 50px;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.5s linear;
}
.cart-header{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    background-color: #beef00;
    border-radius: 10px 10px 0px 0px ;
    margin-bottom: 15px;
}
.cart-header p {

    padding-left: 20px;
    font-weight: bolder;
    font-size: 20px;
   
}

.cart-item {

    width: 95%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 15px;
}

.cart-item-title{

    font-size: 25px;
}
.cart-item-price{
  
    font-size: 20px;
}

.cart-item-img{
    
    width: 100px;
    height: 100px;
    margin-left: 4px;
}

.cart-item-qty{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
    padding: 2px;
    letter-spacing: 0.4 rem;
    font-size: 16px;
}

.cart-no-items-header{
    
    margin: auto;
}
.checkout-container{
    width: 80%;
    height: 150px;
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content:flex-end    ;
    align-self: flex-end;
}

.total-container{

    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 3px;
   
   
}

.total-header{
    font-weight: bolder;
    font-size: 18px;
}
hr{
    height: 3px;
    width: 50%;
    background-color: #beef00; 
    
    align-self: center;
    margin-bottom: 1px;
}
.black-hr{

    height: 1px;
    width: 60%;
    background-color: black ;
    border: 1px solid black;
    margin-bottom: 10px;
}
.total-price{
    font-size: 18px;
    font-weight: bolder;
    margin-top: 3px;
    
}
.checkout-btn-container{
    width: 50%;
    height: 40%  ;
    display: flex;
    justify-content: center;
        

}
.checkout-btn {

    width: 150px;
    height: 30px;
     display: flex;
     justify-content: center;
    align-items: center;
    cursor: pointer;
    border: black 1px solid;
    cursor: pointer;
    background-color: #beef00;
    font-weight: bolder;
    font-size: 16px;
    letter-spacing: 0.08rem;
    border-radius: 5px 5px;
    transition: all 0.2s ease-in-out;
}

.checkout-btn:hover{
    background-color: #FFA068;
}



.delete-cart-item{
   width: 50%;
   height: 100%;
    padding-top: 5px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    background-color: #fa9459;
    border-radius: 5px 5px;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.08rem;
}

.delete-cart-item:hover{
    background-color: rgba(226, 14, 14, 0.753);
}
.delete-cart-item-form{
    width: 80px;
    height: 30px;
    margin-right: 4px;
    margin-right: 20px;
}



@media  screen and (min-width: 320px) and (max-width: 480px) {
    header{
        height: 200px;
        background-color: #beef00;
    }
    .not-found{
        width: 50%;
        
    }
    .nav-header{
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3px;
        
    }
    .nav-header div{
        width: 180px;
        height:  50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 23px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.1s ease-in-out;
    }
    .hidden {
        display: none;
    }
    .items_container {

        height: 11px;
    }

    .cart-container{

        width: 90%;
    }
    .total-container{
        margin-right: 10px;
    }

    .cart-item-img {
        width: 70px;
        height: 70px;
        margin-left: 4px;
    }
    .cart-item-title{
        font-size: 20px;
    }
    .cart-item-price{
        font-size: 15px;
    }
    .delete-cart-item-form {
       width: 40px;
    }
    .cart-item-qty {
    
        width: 26px;
        font-size: 13px;
    }
    .checkout-container{

        width: 100%;
        justify-content: center;
        align-items: center;

    }
  }

  @media  screen and (min-width: 481px) and (max-width: 768px) {
   
   
    .nav-header{
      width: 100%;
        
    }
    
    .items_container {

        height: 11px;
    }
    
    .cart-container{
        width: 90%;
    }
  }

  @media  screen and (min-width: 769px) and (max-width: 1479px) {
    .cart-container{
        width: 80%;
    }
  }