*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Special Elite', cursive;
}

header{
    width: 100%;
    height: 60px;   
    background-color: #beef00;
}
.nav-header{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.nav-header div{
    width: 170px;
    height:  50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    
}
.nav-header div a{
 text-decoration: none;
 color: black;
 letter-spacing: 0.1rem;
}
.nav-header div:hover{
    border-bottom: black 1px solid;
}
.nav-header div:hover a{
    color:#1400c6;
}

.add-product-form{
    
    height: 540px;
    width: 600px;
    margin: auto;
      border-radius: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.5s linear;
    
    
}
.form-header{
    width: 100%;
    height: 15%;
    font-size: 25px;
    color: #1400c6;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.form-error-empty , .form-error-title , .form-added-success {

    width: 100%;
    height: 15%;
    font-size: 25px;
    color: red;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    display: none;

}
.form-added-success{
    color: #a1c416;
}

.show-error{
    display: flex;
}
.hide-error{
    display: none;
}




.form-body{
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}
.user-input , .user-img , .user-price , .user-disc{
    border: 1px solid #ff0028;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    padding: 4px;
    width: 70%;
    border-radius: 5px 5px;
}
input:focus{
    border: 1px solid #beef00;
    height: 30px;
    outline: none;
    background-color: #ffc3a0;
}
.user-disc:focus{
    border: 1px solid #beef00;
    background-color: #ffc3a0;
}
.user-disc{
    height: 150px;
    padding: 7px;
}
.add-product-btn{
    width: 20%;
    height: 30px;
    border: black 1px solid;
    cursor: pointer;
    background-color: #beef00;
    font-weight: bolder;
    font-size: 15px;
    margin: 10px 0px;
    letter-spacing: 0.08rem;
    transition: all 0.3s ease-in-out;
    border-radius: 5px 5px;
    
}
.add-product-btn:hover{
    background-color: #FFA068;
}


@media  screen and (min-width: 320px) and (max-width: 480px) {
    header{
        height: 200px;
        background-color: #beef00;
    }
    .not-found{
        width: 50%;
        
    }
    .nav-header{
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3px;
        
    }
    .nav-header div{
        width: 180px;
        height:  50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 23px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.1s ease-in-out;
        margin-bottom: 10px;
    }
    
    .add-product-form{
        margin-top: 20px;
        width: 90%;
    }
    .form-error-empty , .form-error-title , .form-added-success {

        width: 100%;
        font-size: 20px;
        text-align: center;
        
    }

    .form-body input {

        width: 90%;
        gap: -10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }
    .form-body  {

        
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .add-product-btn{

        width: 50%;
    }
    
   
  
  }

  @media  screen and (min-width: 481px) and (max-width: 768px) {
    .nav-header{
        width: 100%;
          
      }
    .add-product-form{
        width: 90%;
        margin-top: 20px;
    }

    .add-product-form input{
        width: 90%;
    }
    .add-product-btn{
        width: 50%;
    }
  }

  @media  screen and (min-width: 769px) and (max-width: 1179px) {
    .nav-header{
        width: 100%;
          
      }
    .add-product-form{
        width: 70%;
        margin-top: 20px;
    }

    .add-product-form input{
        width: 90%;
    }
    .add-product-btn{
        width: 40%;
    }
  }

  